{% extends 'searcher/base.html' %}
{% block title %}About{% endblock title%}
{% load static %}
{% block content %}
    <div class="row align-contents-center">
        <div class="homecta col-md-12">
            <div class="container-fluid mt-5 ">
                <div class="row ">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                      <h1 class="mb-4">About Model of Models</h1>
                      <p>The <b>Model of Models (MoM)</b> integrates machine learning, data visualization, and information retrieval to support transdisciplinary research on large unstructured datasets. </p>
                      <p>Merging humanistic methods with technical innovations, the system encourages collaboration among scholars from various fields by combining algorithms into a network-based visualization interface, allowing non-technical users to engage with the data. </p>
                      <p>Initially designed and developed at the <b>University of Cincinnati</b> with funding generously provided by the <b>Mellon Foundation></b>, MoM is now maintained by <b>Northwestern University Libraries.</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer_javascript_page %}
{% endblock footer_javascript_page %}
