{% extends 'searcher/base.html' %}
{% block title %}Interpret{% endblock title%}
{% load static %}
{% block content %}
    <div class="row align-contents-center">
        <div class="homecta col-md-12">
            <div class="container-fluid mt-5 ">
                <div class="row ">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">

                      
                      <h1 class="mb-4">Interpreting the Model Visualization</h1>
                      
                      <p>The <b>Model of Models (MoM)</b> integrates machine learning, data visualization, and information retrieval to support transdisciplinary research on large unstructured datasets. </p>

                      <p>Merging humanistic methods with technical innovations, the system encourages collaboration among scholars from various fields by combining algorithms into a network-based visualization interface, allowing non-technical users to engage with the data. </p>

                      <p>Initially designed and developed at the <b>University of Cincinnati</b> with funding generously provided by the <b>Mellon Foundation></b>, MoM is now maintained by <b>Northwestern University Libraries.</b></p>


<p>The <b>Topic-Cluster Chart</b> columns include the Topic-Cluster ID (this is a label only and does not denote meaning), Docs (the number of documents from the dataset that relate to that topic-cluster), Topics (the number of topics form that topic-cluster), Terms (the top 5 terms from that topic-cluster)</p>


                       
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer_javascript_page %}
{% endblock footer_javascript_page %}
